<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <li v-for="todo in todos" :key="todo.id" :class="{'is-completed': todo.is_completed}">
        <input type="checkbox" v-model="todo.is_completed">
        {{todo.text}}
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        let id=0
        const todos = ref([
          {id: id++, text: '생필품 구입', is_completed: false},
          {id: id++, text: '빨래', is_completed: true},
          {id: id++, text: '방 청소', is_completed: false}
        ])
        return {
          todos,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
