<div class='d-flex justify-content-between'>
  {% if user.is_authenticated %}
    <h3>Hello, {{user}}</h3>
    <button class='btn bg-light'>
      <a href="{% url "accounts:logout" %}" class="nav-link">Logout</a>
    </button>
  {% else %}
    <h3>로그인을 해주세요</h3>
    <div>
      <button class='btn bg-light'>
        <a href="{% url 'accounts:signup' %}" class="nav-link" >Signup</a>
      </button>
      <button class='btn bg-light'>
        <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
      </button>
    </div>
  {% endif %}  
</div>
<hr>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      {% if user.is_authenticated %}
      <div class='d-flex'>
        <a class="nav-link m-2" aria-current="page" href="{% url 'boards:index' %}">메인 페이지</a>
        <a class="nav-link m-2" aria-current="page" href="{% url 'accounts:profile' user.pk %}">프로필 페이지</a>
      </div>
      {% else %}
        <a class="nav-link" aria-current="page" href="{% url 'boards:index' %}">메인 페이지</a>
      {% endif %}        
    </div>
  </div>
</nav>